.cart_hover {
  width: 18rem;
  text-align: center;
}
.prod_img {
  height: 60px;
  width: 70px;
}
.xmark_icon {
  height: 17px;
  width: 15px;
  cursor: pointer;
}
.cart_hover_list_item_left {
  text-align: left;
  margin-top: 0.2rem;
}
.cart_hover_list_item_right {
  text-align: right;
  margin-top: 0.6rem;
}
.cart_tot {
  padding-top: 0.9rem;
  text-align: center;
  text-transform: uppercase;
}
.bt-btn {
  margin: 0rem 0.7rem;
  background-color: #3d464d;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
.bt-btn:hover {
  color: #ffc800;
  background-color: #fff;
}
.custom_truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Registration Form Start */


.reg_container{
  max-width: 700px;
  width: 100%;
  padding: 25px;
  border-radius: 25px;

  background: -webkit-linear-gradient(to left, #ffc800, #F2994A);
  background: linear-gradient(to left, #ffc800, #F2994A);
}

.reg_container .reg_heading{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding: 0 0 20px 0;
}

.reg_container .reg_heading::before{
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background: -webkit-linear-gradient(to left, #71b7e6, #9b5b);
  background: linear-gradient(to left, #71b7e6, #9b5); */
  background: -webkit-linear-gradient(to right, #ffc800, #F2994A);
  background: linear-gradient(to right, #ffc800, #F2994A);
}

.reg_container form .reg_cart_details {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .reg_cart_details .reg_card-box{
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.reg_cart_details .reg_card-box .reg_details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.reg_cart_details .reg_card-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.reg_cart_details .reg_card-box input:focus,
.reg_cart_details .reg_card-box input:valid{
  border-color: #9b59b6;
}

form .reg_button {
  text-align: center;
}

form .reg_button input {
  padding: 10px 0;
  margin-top: 10px;
  height: 100%;
  width: 50%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(to right, #ffc800, #F2994A);
  background: linear-gradient(to right, #ffc800, #F2994A);
}

form .reg_button input:hover{
  background: -webkit-linear-gradient(to left, #ffc800, #F2994A);
  background: linear-gradient(to left, #ffc800, #F2994A);
}

@media (max-width:700px) {
  .reg_container {
    max-width: 100%;
  }
  form .reg_cart_details .reg_card-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .reg_container form .reg_cart_details {
    max-height: 300px;
    overflow: scroll;
  }
}



/* Registration Form End */