{% extends 'base.html' %}
{% load static %}
{% block title %}PROFILE || FEV-ECOM{% endblock title %}
{% block body %}

<section class="profile_view">
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12">
                <h1 style='text-align:center;margin: 2rem 1rem 2rem 1rem;height:fit-content;width: 100%;border-bottom: 2px solid #3d464d;'>Your Profile</h1>
                <form action="" method="post">
                    {% csrf_token %}
                <div class="bg-light p-30 mb-5">
                            <div class="row">

                            {% for profileform in profileForm %}
                            <div class="form-group col-md-6">
                                <p style="margin-bottom:6px;font-size:14px;font-weight:normal;">{{profileform.label_tag}}</p>
                {{profileform}} <small class="text-danger">{{profileform.errors |striptags}}</small>
                                
                                </div>
                            {% endfor %}
                            <button style="display:inline-block !important; margin:auto" type="submit" class="btn btn-block btn-primary font-weight-bold py-3 col-md-2 col-md-3 col-xs-12"> Save Profile </button>
                    </div>
                    
                </div>
            </form>
            </div>
        </div>
    </div>
</section>



<section class="order_section col-lg-12">
        <div class="container-fluid">
            <div class="row px-xl-5">
            <h1 style='text-align:center;margin: 2rem 1rem 2rem 1rem;height:fit-content;width: 100%;border-bottom: 2px solid #3d464d;'>Previous Orders</h1>
                <div class="col-lg-12 table-responsive mb-5">
                    <table class="table table-light table-borderless table-hover text-center mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date</th>
                                <th>Quantity & Products Name</th>
                                <th>Payment ID</th>
                                <th>Ordered ID</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for order in orders %}
                            <tr>
                                <td class="align-middle" style="color:red;font-weight:bold;">     {{order.created.date}}</td>
                                <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;">
                            <ol>
                            {% for order_item in order.orderitems.all %}
                                <li>
                                    {{order_item}}
                                </li>
                            {% endfor %}
                            </ol>
                                </td>
                                <td class="align-middle">{{order.paymentId}}</td>
                                <td class="align-middle">{{order.orderdId}}</td>
                                <td class="align-middle"><button class="btn btn-sm btn-success"><i class="fa fa-edit"></i></button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>

<section class="billing_address">
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12">
                <h1 style='text-align:center;margin: 2rem 1rem 2rem 1rem;height:fit-content;width: 100%;border-bottom: 2px solid #3d464d;'>Billing Address</h1>
                <form action="" method="post">
                    {% csrf_token %}
                <div class="bg-light p-30 mb-5">
                            <div class="row">

                            {% csrf_token %}
                            {% for billingdata in billingaddress %}
                            <div class="form-group col-md-6">
                                <p style="margin-bottom:6px;font-size:14px;font-weight:normal;">{{billingdata.label_tag}}</p>
                {{billingdata}} <small class="text-danger">{{billingdata.errors |striptags}}</small>
                                
                                </div>
                            {% endfor %}
                            <button style="display:inline-block !important; margin:auto" type="submit" class="btn btn-block btn-primary font-weight-bold py-3 col-md-2 col-md-3 col-xs-12"> Save Address </button>
                    </div>
                    
                </div>
            </form>
            </div>
        </div>
    </div>
</section>

{% endblock body %}



